/* General Styles*/ 
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #F1F1F1;
    font-family: sans-serif;
}

/* Logo Image */
#logo {
    width: 400px;
    height: auto;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    color: #F1F1F1;
    text-shadow: -2px -2px 0 #f00f0a, 2px -2px 0 #f00f0a, -2px 2px 0 #f00f0a, 2px 2px 0 #f00f0a;
}

h1:hover {
    transition: .3s ease-in-out;
    color: #f00f0a;
    text-shadow: -2px -2px 0 #f1f1f1, 2px -2px 0 #f1f1f1, -2px 2px 0 #f1f1f1, 2px 2px 0 #f1f1f1;
}

/* Background Image */
.background-image {
    background-image: url(../images/background-image.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

.music-button {
    margin-right: 20px;
    margin-top: 10px;
    border-radius: 20%;
    padding: 0;
}

.question-section {
    margin-top: 20px;
}

.question-box {
    border: 5px solid #C0E8F9;
    border-radius: 15%;
    background-color: #F1F1F1;
    color: black;
    max-height: 80px;
}

.total-money-box {
    border: 5px solid #C0E8F9;
    border-radius: 15%;
    background-color: #F1F1F1;
    color: black;
    max-height: 80px;

}

.answers-section {
    margin-top: 20px;
}

.answer-buttons {
    border: 2px solid #C0E8F9;
    margin: 10px;
    min-width: 80px;
}

.money-minus {
    border-radius: 50%;
    background-color: #72787A;
}

.money-plus {
    border-radius: 50%;
    background-color: #72787A;
}

.buttons-section {
    margin-top: 20px;
}

.instructions-section {
    margin-top: 20px;
}

