/* General Styles*/ 
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #F1F1F1;
    font-family: sans-serif;
}

/* Logo Image */
#logo {
    width: 250px;
    height: auto;
    cursor: pointer;
}

/* Title */
h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Orbitron', sans-serif;
    color: #F1F1F1;
    text-shadow: -2px -2px 0 #f00f0a, 2px -2px 0 #f00f0a, -2px 2px 0 #f00f0a, 2px 2px 0 #f00f0a;
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    cursor: pointer;
}

/* Title hover */
h1:hover {
    color: #f00f0a;
    text-shadow: -2px -2px 0 #f1f1f1, 2px -2px 0 #f1f1f1, -2px 2px 0 #f1f1f1, 2px 2px 0 #f1f1f1;
    transform: scale(1.2);
}

/* Music icon */
.music-toggle {
    color: #f00f0a;
    text-shadow: -1px -1px 0 #f1f1f1, 1px -1px 0 #f1f1f1, -1px 1px 0 #f1f1f1, 1px 1px 0 #f1f1f1;
    transition: color 0.3s ease-in-out, text-shadow 0.3s ease-in-out, transform 0.3s ease-in-out;
    cursor: pointer;
}

.music-toggle:hover {
    color: #F1F1F1;
    text-shadow: -1px -1px 0 #f00f0a, 1px -1px 0 #f00f0a, -1px 1px 0 #f00f0a, 1px 1px 0 #f00f0a;
    transform: scale(1.5);
}

.toggle-off {
    display: none;
}

/* Background Image */
.background-image {
    background-image: url(../images/background-image.webp);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}

/* Question and Money box */
.question-box, .total-money-box {
    border: 4px solid #f1f1f1; 
    background-color: #f00f0a;
    color: #f1f1f1;
    padding: 20px; 
    border-radius: 8px; 
    font-family: 'Orbitron', sans-serif;
}

/* Quesiton box font-size */
h4 {
    font-size: xx-large;
}

/* Money box font-size */
p {
    font-size: x-large;
}

/* Margin bottom to question section */
.question-section {
    margin-bottom: 20px;
}

/* Answers buttons */
.answer-buttons {
    border: 4px solid #f1f1f1; 
    background-color: rgba(0,0,0,.5);
    color: #f1f1f1;
    text-shadow: -2px -2px 0 #f00f0a, 2px -2px 0 #f00f0a, -2px 2px 0 #f00f0a, 2px 2px 0 #f00f0a;
    padding: 10px;
    border-radius: 8px; 
    font-family: 'Orbitron', sans-serif;
    font-size: x-large;
    font-weight: bolder;
    transition: border 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

#music-on-off {
    font-size: smaller;
    font-family: 'Orbitron', sans-serif;
}

/* Money Buttons */
.money-buttons {
    border: 4px solid #f1f1f1; 
    background-color: rgba(0,0,0,.5);
    border-radius: 8px; 
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
}

.money-buttons:hover { 
    background-color: rgba(0,0,0,.75);
    border: 4px solid #f00f0a;
}

.money-buttons span {
    font-size: x-large;
    font-family: 'Orbitron', sans-serif;
}

.money-buttons i {
    color: #f1f1f1;
}

.answer-buttons:hover {
    border: 4px solid #f00f0a;
    background-color: rgba(0,0,0,0.75);
}

.money-minus {
    width: 30px;
    height: auto;
    border-radius: 50%;
    background-image:
    -webkit-radial-gradient(50% 0%, 8% 50%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0)100%),
    -webkit-radial-gradient(50% 100%, 12% 50%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0)100%),
    -webkit-radial-gradient(0% 50%, 50% 7%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0)100%),
    -webkit-radial-gradient(100% 50%, 50% 5%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0)100%),
    -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(44, 0, 0, 0) 0%, rgba(44, 0, 0, 0) 3%, rgba(44, 0, 0, 0) 3.5%),
    -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(255, 30, 30, 0) 0%, rgba(255, 30, 30, 0) 6%, rgba(255, 30, 30, 0.1) 7.5%),
    -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(210, 25, 25, 0) 0%, rgba(210, 25, 25, 0) 1.2%, rgba(210, 25, 25, 0.2) 2.2%),
    -webkit-radial-gradient(50% 50%, 200% 50%, rgb(130, 10, 10) 5%, rgb(120, 10, 10) 30%, rgb(170, 17, 17) 100%);
}

.money-plus {
    border-radius: 50%;
    width: 30px;
    height: auto;
    border-radius: 50%;
    background-image:
    -webkit-radial-gradient(50% 0%, 8% 50%, rgba(255, 255, 255, 0.2) 0%, rgba(255, 255, 255, 0)100%),
    -webkit-radial-gradient(50% 100%, 12% 50%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0)100%),
    -webkit-radial-gradient(0% 50%, 50% 7%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0)100%),
    -webkit-radial-gradient(100% 50%, 50% 5%, rgba(255, 255, 255, 0.3) 0%, rgba(255, 255, 255, 0)100%),
    -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(44, 0, 0, 0) 0%, rgba(44, 0, 0, 0) 3%, rgba(44, 0, 0, 0) 3.5%),
    -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(255, 30, 30, 0) 0%, rgba(255, 30, 30, 0) 6%, rgba(255, 30, 30, 0.1) 7.5%),
    -webkit-repeating-radial-gradient(50% 50%, 100% 100%, rgba(210, 25, 25, 0) 0%, rgba(210, 25, 25, 0) 1.2%, rgba(210, 25, 25, 0.2) 2.2%),
    -webkit-radial-gradient(50% 50%, 200% 50%, rgb(130, 10, 10) 5%, rgb(120, 10, 10) 30%, rgb(170, 17, 17) 100%);
}

.buttons-section {
    margin-top: 20px;
    margin-bottom: 20px;
}

#start-game, #submit-answer, #next-question, #instructions {
    border: 4px solid #f1f1f1; 
    background-color: rgba(0,0,0,.5);
    color: #f1f1f1;
    text-shadow: -1px -1px 0 #f00f0a, 1px -1px 0 #f00f0a, -1px 1px 0 #f00f0a, 1px 1px 0 #f00f0a;
    padding: 10px; 
    border-radius: 8px; 
    font-family: 'Orbitron', sans-serif;
    transition: all 0.3s ease-in-out;
}

#start-game:hover, #submit-answer:hover, #next-question:hover, #instructions:hover {
    border: 4px solid #2ECA16;
    background-color: rgba(0,0,0,.75);
    color: #f1f1f1;
    text-shadow: -1px -1px 0 #2ECA16, 1px -1px 0 #2ECA16, -1px 1px 0 #2ECA16, 1px 1px 0 #2ECA16;
}


/* Custom CSS Media Queries for smaller screens */
@media (max-width: 768px) {
    .question-box h4 {
        font-size: 1.25rem; 
    }
    .total-money-box p {
        font-size: 1rem; 
    }
    .answer-buttons {
        font-size: 0.75rem;
    }
}

/* Additional breakpoint example for even smaller screens */
@media (max-width: 576px) {
    .question-box h4 {
        font-size: 1rem; 
    }
    .total-money-box p {
        font-size: 0.55rem; 
    }
    .answer-buttons {
        font-size: 0.75rem;
    }

    .money-buttons span {
        font-size: xx-small;
        font-family: 'Orbitron', sans-serif;
    }

    .money-buttons {
        border: 4px solid #f1f1f1; 
        background-color: rgba(0,0,0,.5);
        border-radius: 8px; 
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;
        font-size: xx-small;
    }

    .total-money-box {
        font-size: x-small;
    }

    #timer {
        color: fff;
        margin-top: 0;
    }

    #time-left {
        color: fff;
        margin-top: 30px;
        font-size: 1.5rem;
    }
}

/* Custom scrollbar */
::-webkit-scrollbar {
    width: 0.5em;
}

::-webkit-scrollbar-track {
    background: #270301;
}

::-webkit-scrollbar-thumb {
    background: #f00f0a;
    border-radius: 100vw;
    cursor: pointer;
    border: 2px solid #270301;
}

::-webkit-scrollbar-thumb:hover {
    background: #FB7B74;
}


#timer {
    color: fff;
    margin-top: 30px;
    font-size: 4rem;
}

/* Popup container - can be anything you want */
/* .popup {
    position: relative;
    display: inline-block;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  } */
  
  /* The actual popup */
  /* .popup .popuptext {
    visibility: hidden;
    width: 700px;
    background-color: #555;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -80px;
  } */
  
  /* Popup arrow */
  /* .popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: 5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
  } */
  
  /* Toggle this class - hide and show the popup */
  /* .popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s;
  } */
  
  /* Add animation (fade in the popup) */
  /* @-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
  }
  
  @keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
  } */
